<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ground1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,0},{2048,130}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,70},{2048,130}}</string>
                <key>sourceSize</key>
                <string>{2048,200}</string>
            </dict>
            <key>ground2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{2048,168}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{2048,168}}</string>
                <key>sourceSize</key>
                <string>{2048,200}</string>
            </dict>
            <key>ground3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{2048,80}}</string>
                <key>offset</key>
                <string>{0,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,120},{2048,80}}</string>
                <key>sourceSize</key>
                <string>{2048,200}</string>
            </dict>
            <key>plank.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,0},{60,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,10}}</string>
                <key>sourceSize</key>
                <string>{60,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,2048}</string>
            <key>textureFileName</key>
            <string>groundAtlas-hd.png</string>
        </dict>
    </dict>
</plist>
