<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cart.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,0},{161,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,80}}</string>
                <key>sourceSize</key>
                <string>{161,80}</string>
            </dict>
            <key>OleCartArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,110},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>OleCartBody.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,0},{51,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,64}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
            <key>OleCartHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,52},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>OleCartHelmet.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,193},{43,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{43,32}}</string>
                <key>sourceSize</key>
                <string>{45,34}</string>
            </dict>
            <key>OleCartLegs.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,159},{50,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{50,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>Wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,193},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>digger_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,225},{190,224}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,0},{190,224}}</string>
                <key>sourceSize</key>
                <string>{420,224}</string>
            </dict>
            <key>digger_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,225},{228,224}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{228,224}}</string>
                <key>sourceSize</key>
                <string>{420,224}</string>
            </dict>
            <key>digger_anim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,752},{230,224}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,0},{230,224}}</string>
                <key>sourceSize</key>
                <string>{420,224}</string>
            </dict>
            <key>digger_anim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,515},{236,224}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,0},{236,224}}</string>
                <key>sourceSize</key>
                <string>{420,224}</string>
            </dict>
            <key>digger_anim5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{292,224}}</string>
                <key>offset</key>
                <string>{-52,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{292,224}}</string>
                <key>sourceSize</key>
                <string>{420,224}</string>
            </dict>
            <key>digger_anim6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{288,224}}</string>
                <key>offset</key>
                <string>{-54,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{288,224}}</string>
                <key>sourceSize</key>
                <string>{420,224}</string>
            </dict>
            <key>digger_anim7.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,0},{290,224}}</string>
                <key>offset</key>
                <string>{-55,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{290,224}}</string>
                <key>sourceSize</key>
                <string>{420,224}</string>
            </dict>
            <key>digger_anim8.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,0},{288,224}}</string>
                <key>offset</key>
                <string>{-54,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{288,224}}</string>
                <key>sourceSize</key>
                <string>{420,224}</string>
            </dict>
            <key>spikes.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,162},{78,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,30}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>scene4atlas-hd.png</string>
        </dict>
    </dict>
</plist>
