<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cart.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,0},{81,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,40}}</string>
                <key>sourceSize</key>
                <string>{81,40}</string>
            </dict>
            <key>OleCartArm.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,57},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>OleCartBody.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>OleCartHead.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,27},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>OleCartHelmet.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,98},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>OleCartLegs.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,82},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,21}}</string>
                <key>sourceSize</key>
                <string>{26,21}</string>
            </dict>
            <key>Wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,98},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>digger_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,113},{96,112}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,0},{96,112}}</string>
                <key>sourceSize</key>
                <string>{210,112}</string>
            </dict>
            <key>digger_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,113},{114,112}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{114,112}}</string>
                <key>sourceSize</key>
                <string>{210,112}</string>
            </dict>
            <key>digger_anim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{116,112}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{116,112}}</string>
                <key>sourceSize</key>
                <string>{210,112}</string>
            </dict>
            <key>digger_anim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,261},{118,112}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{118,112}}</string>
                <key>sourceSize</key>
                <string>{210,112}</string>
            </dict>
            <key>digger_anim5.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,0},{146,112}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{146,112}}</string>
                <key>sourceSize</key>
                <string>{210,112}</string>
            </dict>
            <key>digger_anim6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,116},{144,112}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{210,112}</string>
            </dict>
            <key>digger_anim7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{146,112}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{146,112}}</string>
                <key>sourceSize</key>
                <string>{210,112}</string>
            </dict>
            <key>digger_anim8.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,0},{144,112}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{144,112}}</string>
                <key>sourceSize</key>
                <string>{210,112}</string>
            </dict>
            <key>spikes.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,82},{40,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,15}}</string>
                <key>sourceSize</key>
                <string>{40,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>scene4atlas.png</string>
        </dict>
    </dict>
</plist>
