<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>platform_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,131},{50,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,30}}</string>
                <key>sourceSize</key>
                <string>{50,30}</string>
            </dict>
            <key>platform_pivot.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,25}}</string>
                <key>sourceSize</key>
                <string>{200,25}</string>
            </dict>
            <key>platform_revolve.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,39},{100,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,13}}</string>
                <key>sourceSize</key>
                <string>{100,13}</string>
            </dict>
            <key>platform_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,25},{146,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,14}}</string>
                <key>sourceSize</key>
                <string>{146,14}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,274},{73,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,17}}</string>
                <key>sourceSize</key>
                <string>{81,17}</string>
            </dict>
            <key>sv_anim_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,117},{51,92}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{51,92}}</string>
                <key>sourceSize</key>
                <string>{83,100}</string>
            </dict>
            <key>sv_anim_1.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,341},{37,90}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,10},{37,90}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>sv_anim_1.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,305},{39,90}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,10},{39,90}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>sv_anim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,181},{39,92}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,8},{39,92}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>sv_anim_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,25},{53,92}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,7},{53,92}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>sv_anim_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,184},{57,90}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{57,90}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>sv_anim_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{47,90}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,10},{47,90}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>sv_anim_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,257},{37,92}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,8},{37,92}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>sv_anim_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,281},{41,86}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,14},{41,86}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>sv_anim_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,161},{49,82}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,18},{49,82}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>sv_anim_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,209},{49,72}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{49,72}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>sv_anim_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,243},{49,62}}</string>
                <key>offset</key>
                <string>{14,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,38},{49,62}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>sv_anim_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{37,92}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,8},{37,92}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>sv_anim_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,52},{47,92}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,8},{47,92}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>sv_anim_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,92},{57,92}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{57,92}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>sv_anim_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{55,92}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{55,92}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>sv_anim_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,274},{45,90}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,10},{45,90}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>sv_anim_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,99},{43,92}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,8},{43,92}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>sv_anim_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{39,92}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,8},{39,92}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
            <key>sv_anim_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,39},{45,92}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,8},{45,92}}</string>
                <key>sourceSize</key>
                <string>{113,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>scene5atlas.png</string>
        </dict>
    </dict>
</plist>
