<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>platform.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,11}}</string>
                <key>sourceSize</key>
                <string>{121,11}</string>
            </dict>
            <key>sv_anim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,96},{33,77}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{33,77}}</string>
                <key>sourceSize</key>
                <string>{69,83}</string>
            </dict>
            <key>tiles_cloud0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,96},{106,31}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{106,31}}</string>
                <key>sourceSize</key>
                <string>{120,53}</string>
            </dict>
            <key>tiles_cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,53},{114,41}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{114,41}}</string>
                <key>sourceSize</key>
                <string>{120,53}</string>
            </dict>
            <key>tiles_cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{108,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{108,39}}</string>
                <key>sourceSize</key>
                <string>{120,53}</string>
            </dict>
            <key>tiles_cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{104,39}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{104,39}}</string>
                <key>sourceSize</key>
                <string>{120,53}</string>
            </dict>
            <key>tiles_cloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{120,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{120,49}}</string>
                <key>sourceSize</key>
                <string>{120,53}</string>
            </dict>
            <key>tiles_cloud5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,15},{114,47}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{114,47}}</string>
                <key>sourceSize</key>
                <string>{120,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,256}</string>
            <key>textureFileName</key>
            <string>ScrollingCloudsTextureAtlasiPhone.png</string>
        </dict>
    </dict>
</plist>
