<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>platform.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{242,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,22}}</string>
                <key>sourceSize</key>
                <string>{242,22}</string>
            </dict>
            <key>sv_anim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,184},{62,152}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{62,152}}</string>
                <key>sourceSize</key>
                <string>{138,166}</string>
            </dict>
            <key>tiles_cloud0.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,184},{216,63}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{216,63}}</string>
                <key>sourceSize</key>
                <string>{240,107}</string>
            </dict>
            <key>tiles_cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,101},{230,83}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{230,83}}</string>
                <key>sourceSize</key>
                <string>{240,107}</string>
            </dict>
            <key>tiles_cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,119},{220,81}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{220,81}}</string>
                <key>sourceSize</key>
                <string>{240,107}</string>
            </dict>
            <key>tiles_cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{210,83}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{210,83}}</string>
                <key>sourceSize</key>
                <string>{240,107}</string>
            </dict>
            <key>tiles_cloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{240,101}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{240,101}}</string>
                <key>sourceSize</key>
                <string>{240,107}</string>
            </dict>
            <key>tiles_cloud5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,22},{230,97}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{230,97}}</string>
                <key>sourceSize</key>
                <string>{240,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>ScrollingCloudsTextureAtlasiPhone-hd.png</string>
        </dict>
    </dict>
</plist>
