<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>platform.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{289,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{289,27}}</string>
                <key>sourceSize</key>
                <string>{291,27}</string>
            </dict>
            <key>sv_anim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{76,180}}</string>
                <key>offset</key>
                <string>{-21,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{76,180}}</string>
                <key>sourceSize</key>
                <string>{166,200}</string>
            </dict>
            <key>tiles_cloud0.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,302},{232,76}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{232,76}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>tiles_cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{246,100}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{246,100}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>tiles_cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{234,96}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{234,96}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>tiles_cloud3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,353},{224,100}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{224,100}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>tiles_cloud4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{256,120}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{256,120}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>tiles_cloud5.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,184},{244,116}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{244,116}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>ScrollingCloudsTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
