<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>robotDeathAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>an1_anim</string>
		<key>delay</key>
		<real>0.25</real>
		<key>animationFrames</key>
		<string>27,28,29,30,31,32,33,34,35,36</string>
	</dict>
	<key>headHitAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>an1_anim</string>
		<key>delay</key>
		<real>0.25</real>
		<key>animationFrames</key>
		<string>19,20,21,22</string>
	</dict>
	<key>torsoHitAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>an1_anim</string>
		<key>delay</key>
		<real>0.25</real>
		<key>animationFrames</key>
		<string>23,24,25,26</string>
	</dict>
	<key>lowerPhaserAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>an1_anim</string>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>12,11,10,9,8</string>
	</dict>
	<key>shootPhaserAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>an1_anim</string>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>12,12,12</string>
	</dict>
	<key>robotWalkingAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>an1_anim</string>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>1,2,3,4,3,2,1,5,6,7,6,5,1,2,3,4,3,2,1,5,6,7,6,5</string>
	</dict>
	<key>raisePhaserAnim</key>
	<dict>
		<key>filenamePrefix</key>
		<string>an1_anim</string>
		<key>delay</key>
		<real>0.1</real>
		<key>animationFrames</key>
		<string>8,9,10,11,12</string>
	</dict>
</dict>
</plist>
