<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,1,2,2,3,3</string>
		<key>delay</key>
		<real>0.015</real>
		<key>filenamePrefix</key>
		<string>beam_</string>
	</dict>
	<key>travelingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>4,4</string>
		<key>delay</key>
		<real>0.1</real>
		<key>filenamePrefix</key>
		<string>beam_</string>
	</dict>
</dict>
</plist>
