<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kCreditsScene</key>
	<dict/>
	<key>kCutSceneForLevel2</key>
	<dict/>
	<key>kGameLevel1</key>
	<dict>
		<key>ENEMYROBOT_DAMAGE</key>
		<string>22k_enemy_robot_taking_damageV1.wav</string>
		<key>ENEMYROBOT_DYING</key>
		<string>22k_enemy_robot_dyingV1.wav</string>
		<key>ENEMYROBOT_MUMBLE_1</key>
		<string>22k_enemy_mumbleV1.wav</string>
		<key>ENEMYROBOT_MUMBLE_2</key>
		<string>22k_enemy_mumbleV2.wav</string>
		<key>ENEMYROBOT_PHASERFIRE_1</key>
		<string>22k_enemy_phaser_fireV1.wav</string>
		<key>ENEMYROBOT_PHASERFIRE_2</key>
		<string>22k_enemy_phaser_fireV2.wav</string>
		<key>ENEMYROBOT_TELEPORT</key>
		<string>22k_enemy_teleportV1.wav</string>
		<key>ENEMYROBOT_WALKING_1</key>
		<string>22k_enemy_walkingV1.wav</string>
		<key>ENEMYROBOT_WALKING_2</key>
		<string>22k_enemy_walkingV2.wav</string>
		<key>SPACECARGOSHIP_CLOSE_1</key>
		<string>22k_cargo_space_freighter_closeV1.wav</string>
		<key>SPACECARGOSHIP_CLOSE_2</key>
		<string>22k_cargo_space_freighter_closeV2.wav</string>
		<key>SPACECARGOSHIP_CLOSE_3</key>
		<string>22k_cargo_space_freighter_closeV3.wav</string>
		<key>SPACECARGOSHIP_FAR</key>
		<string>22k_cargo_space_freighter_farV1.wav</string>
		<key>VIKING_CROUCHING_1</key>
		<string>22k_viking_crouchingV1.wav</string>
		<key>VIKING_CROUCHING_2</key>
		<string>22k_viking_crouchingV2.wav</string>
		<key>VIKING_CROUCHING_3</key>
		<string>22k_viking_crouchingV3.wav</string>
		<key>VIKING_CROUCHING_4</key>
		<string>22k_viking_crouchingV4.wav</string>
		<key>VIKING_CURSING_1</key>
		<string>22k_viking_cursingV1.wav</string>
		<key>VIKING_CURSING_2</key>
		<string>22k_viking_cursingV2.wav</string>
		<key>VIKING_DYING_1</key>
		<string>22k_viking_dyingV1.wav</string>
		<key>VIKING_DYING_2</key>
		<string>22k_viking_dyingV2.wav</string>
		<key>VIKING_DYING_3</key>
		<string>22k_viking_dyingV3.wav</string>
		<key>VIKING_DYING_4</key>
		<string>22k_viking_dyingV4.wav</string>
		<key>VIKING_DYING_5</key>
		<string>22k_viking_dyingV5.wav</string>
		<key>VIKING_GRUMBLING_1</key>
		<string>22k_viking_grumblingV1.wav</string>
		<key>VIKING_GRUMBLING_2</key>
		<string>22k_viking_grumblingV2.wav</string>
		<key>VIKING_HAMMERHIT1</key>
		<string>22k_viking_hammer_hitV1.wav</string>
		<key>VIKING_HAMMERHIT2</key>
		<string>22k_viking_hammer_hitV2.wav</string>
		<key>VIKING_HIT_1</key>
		<string>22k_viking_hitV1.wav</string>
		<key>VIKING_HIT_2</key>
		<string>22k_viking_hitV2.wav</string>
		<key>VIKING_HIT_3</key>
		<string>22k_viking_hitV3.wav</string>
		<key>VIKING_HIT_4</key>
		<string>22k_viking_hitV4.wav</string>
		<key>VIKING_HIT_5</key>
		<string>22k_viking_hitV5.wav</string>
		<key>VIKING_JUMPING_1</key>
		<string>22k_viking_jumpingV1.wav</string>
		<key>VIKING_JUMPING_2</key>
		<string>22k_viking_jumpingV2.wav</string>
		<key>VIKING_JUMPING_3</key>
		<string>22k_viking_jumpingV3.wav</string>
		<key>VIKING_JUMPING_4</key>
		<string>22k_viking_jumpingV4.wav</string>
		<key>VIKING_POWERUP1</key>
		<string>22k_viking_powerupV1.wav</string>
		<key>VIKING_POWERUP2</key>
		<string>22k_viking_powerupV2.wav</string>
		<key>VIKING_PUNCHING</key>
		<string>22k_viking_punchingV1.wav</string>
		<key>VIKING_SWINGING_1</key>
		<string>22k_viking_swingingV1.wav</string>
		<key>VIKING_SWINGING_2</key>
		<string>22k_viking_swingingV2.wav</string>
		<key>VIKING_SWINGING_3</key>
		<string>22k_viking_swingingV3.wav</string>
		<key>VIKING_SWINGING_4</key>
		<string>22k_viking_swingingV4.wav</string>
		<key>VIKING_SWINGING_5</key>
		<string>22k_viking_swingingV5.wav</string>
		<key>VIKING_SWINGING_6</key>
		<string>22k_viking_swingingV6.wav</string>
		<key>VIKING_SWINGING_7</key>
		<string>22k_viking_swingingV7.wav</string>
		<key>VIKING_SWINGING_8</key>
		<string>22k_viking_swingingV8.wav</string>
		<key>VIKING_SWINGING_9</key>
		<string>22k_viking_swingingV9.wav</string>
		<key>VIKING_WALKING_1</key>
		<string>22k_viking_walkingV1.wav</string>
	</dict>
	<key>kGameLevel2</key>
	<dict>
		<key>ENEMYROBOT_DAMAGE</key>
		<string>22k_enemy_robot_taking_damageV1.wav</string>
		<key>ENEMYROBOT_DYING</key>
		<string>22k_enemy_robot_dyingV1.wav</string>
		<key>ENEMYROBOT_MUMBLE_1</key>
		<string>22k_enemy_mumbleV1.wav</string>
		<key>ENEMYROBOT_MUMBLE_2</key>
		<string>22k_enemy_mumbleV2.wav</string>
		<key>ENEMYROBOT_PHASERFIRE_1</key>
		<string>22k_enemy_phaser_fireV1.wav</string>
		<key>ENEMYROBOT_PHASERFIRE_2</key>
		<string>22k_enemy_phaser_fireV2.wav</string>
		<key>ENEMYROBOT_TELEPORT</key>
		<string>22k_enemy_teleportV1.wav</string>
		<key>ENEMYROBOT_WALKING_1</key>
		<string>22k_enemy_walkingV1.wav</string>
		<key>ENEMYROBOT_WALKING_2</key>
		<string>22k_enemy_walkingV2.wav</string>
		<key>SPACECARGOSHIP_CLOSE_1</key>
		<string>22k_cargo_space_freighter_closeV1.wav</string>
		<key>SPACECARGOSHIP_CLOSE_2</key>
		<string>22k_cargo_space_freighter_closeV2.wav</string>
		<key>SPACECARGOSHIP_CLOSE_3</key>
		<string>22k_cargo_space_freighter_closeV3.wav</string>
		<key>SPACECARGOSHIP_FAR</key>
		<string>22k_cargo_space_freighter_farV1.wav</string>
		<key>VIKING_CROUCHING_1</key>
		<string>22k_viking_crouchingV1.wav</string>
		<key>VIKING_CROUCHING_2</key>
		<string>22k_viking_crouchingV2.wav</string>
		<key>VIKING_CROUCHING_3</key>
		<string>22k_viking_crouchingV3.wav</string>
		<key>VIKING_CROUCHING_4</key>
		<string>22k_viking_crouchingV4.wav</string>
		<key>VIKING_CURSING_1</key>
		<string>22k_viking_cursingV1.wav</string>
		<key>VIKING_CURSING_2</key>
		<string>22k_viking_cursingV2.wav</string>
		<key>VIKING_DYING_1</key>
		<string>22k_viking_dyingV1.wav</string>
		<key>VIKING_DYING_2</key>
		<string>22k_viking_dyingV2.wav</string>
		<key>VIKING_DYING_3</key>
		<string>22k_viking_dyingV3.wav</string>
		<key>VIKING_DYING_4</key>
		<string>22k_viking_dyingV4.wav</string>
		<key>VIKING_DYING_5</key>
		<string>22k_viking_dyingV5.wav</string>
		<key>VIKING_GRUMBLING_1</key>
		<string>22k_viking_grumblingV1.wav</string>
		<key>VIKING_GRUMBLING_2</key>
		<string>22k_viking_grumblingV2.wav</string>
		<key>VIKING_HAMMERHIT1</key>
		<string>22k_viking_hammer_hitV1.wav</string>
		<key>VIKING_HAMMERHIT2</key>
		<string>22k_viking_hammer_hitV2.wav</string>
		<key>VIKING_HIT_1</key>
		<string>22k_viking_hitV1.wav</string>
		<key>VIKING_HIT_2</key>
		<string>22k_viking_hitV2.wav</string>
		<key>VIKING_HIT_3</key>
		<string>22k_viking_hitV3.wav</string>
		<key>VIKING_HIT_4</key>
		<string>22k_viking_hitV4.wav</string>
		<key>VIKING_HIT_5</key>
		<string>22k_viking_hitV5.wav</string>
		<key>VIKING_JUMPING_1</key>
		<string>22k_viking_jumpingV1.wav</string>
		<key>VIKING_JUMPING_2</key>
		<string>22k_viking_jumpingV2.wav</string>
		<key>VIKING_JUMPING_3</key>
		<string>22k_viking_jumpingV3.wav</string>
		<key>VIKING_JUMPING_4</key>
		<string>22k_viking_jumpingV4.wav</string>
		<key>VIKING_POWERUP1</key>
		<string>22k_viking_powerupV1.wav</string>
		<key>VIKING_POWERUP2</key>
		<string>22k_viking_powerupV2.wav</string>
		<key>VIKING_PUNCHING</key>
		<string>22k_viking_punchingV1.wav</string>
		<key>VIKING_SWINGING_1</key>
		<string>22k_viking_swingingV1.wav</string>
		<key>VIKING_SWINGING_2</key>
		<string>22k_viking_swingingV2.wav</string>
		<key>VIKING_SWINGING_3</key>
		<string>22k_viking_swingingV3.wav</string>
		<key>VIKING_SWINGING_4</key>
		<string>22k_viking_swingingV4.wav</string>
		<key>VIKING_SWINGING_5</key>
		<string>22k_viking_swingingV5.wav</string>
		<key>VIKING_SWINGING_6</key>
		<string>22k_viking_swingingV6.wav</string>
		<key>VIKING_SWINGING_7</key>
		<string>22k_viking_swingingV7.wav</string>
		<key>VIKING_SWINGING_8</key>
		<string>22k_viking_swingingV8.wav</string>
		<key>VIKING_SWINGING_9</key>
		<string>22k_viking_swingingV9.wav</string>
		<key>VIKING_WALKING_1</key>
		<string>22k_viking_walkingV1.wav</string>
	</dict>
	<key>kGameLevel3</key>
	<dict>
		<key>PUZZLE_METEOR</key>
		<string>22k_tap_move_meteorV1.wav</string>
		<key>PUZZLE_ROCK1</key>
		<string>22k_tap_move_rockV1.wav</string>
		<key>PUZZLE_ROCK2</key>
		<string>22k_tap_move_rockV2.wav</string>
		<key>PUZZLE_SKULL</key>
		<string>22k_tap_move_skullV1.wav</string>
	</dict>
	<key>kGameLevel4</key>
	<dict>
		<key>ENEMYDRILL_DAMAGE</key>
		<string>22k_enemy_drill_robot_taking_damageV1.wav</string>
		<key>ENEMYDRILL_DYING</key>
		<string>22k_enemy_drill_robot_dyingV1.wav</string>
		<key>ENEMYDRILL_MOVING</key>
		<string>22k_enemy_drill_robot_movingV1.wav</string>
		<key>ENEMYDRILL_ON</key>
		<string>22k_enemy_drill_onV1.wav</string>
		<key>ENEMYDRILL_POWERDOWN</key>
		<string>22k_enemy_drill_power_downV1.wav</string>
		<key>ENEMYDRILL_ROAR1</key>
		<string>22k_enemy_drill_robot_roarV1.wav</string>
		<key>ENEMYDRILL_ROAR2</key>
		<string>22k_enemy_drill_robot_roarV2.wav</string>
		<key>ENEMYDRILL_ROAR3</key>
		<string>22k_enemy_drill_robot_roarV3.wav</string>
		<key>ENEMYDRILL_RUNNING</key>
		<string>22k_enemy_drill_runningV1.wav</string>
		<key>FLAME_SOUND</key>
		<string>22k_flame_soundV1.wav</string>
		<key>MINECART_DAMAGE</key>
		<string>22k_mine_cart_drill_damageV1.wav</string>
		<key>MINECART_HIT</key>
		<string>22k_mine_cart_hits_wallV1.wav</string>
		<key>VIKING_HIT_1</key>
		<string>22k_viking_hitV1.wav</string>
		<key>VIKING_HIT_2</key>
		<string>22k_viking_hitV2.wav</string>
		<key>VIKING_HIT_3</key>
		<string>22k_viking_hitV3.wav</string>
		<key>VIKING_HIT_4</key>
		<string>22k_viking_hitV4.wav</string>
		<key>VIKING_HIT_5</key>
		<string>22k_viking_hitV5.wav</string>
		<key>VIKING_JUMPING_1</key>
		<string>22k_viking_jumpingV1.wav</string>
		<key>VIKING_JUMPING_2</key>
		<string>22k_viking_jumpingV2.wav</string>
		<key>VIKING_JUMPING_3</key>
		<string>22k_viking_jumpingV3.wav</string>
		<key>VIKING_JUMPING_4</key>
		<string>22k_viking_jumpingV4.wav</string>
	</dict>
	<key>kGameLevel5</key>
	<dict>
		<key>VIKING_JUMPING_1</key>
		<string>22k_viking_jumpingV1.wav</string>
		<key>VIKING_JUMPING_2</key>
		<string>22k_viking_jumpingV2.wav</string>
		<key>VIKING_JUMPING_3</key>
		<string>22k_viking_jumpingV3.wav</string>
		<key>VIKING_JUMPING_4</key>
		<string>22k_viking_jumpingV4.wav</string>
	</dict>
	<key>kIntroScene</key>
	<dict/>
	<key>kLevelCompleteScene</key>
	<dict/>
	<key>kMainMenuScene</key>
	<dict>
		<key>CHORUS1</key>
		<string>22k_space_viking_chorusV1.wav</string>
		<key>CHORUS2</key>
		<string>22k_space_viking_chorusV2.wav</string>
	</dict>
	<key>kNoSceneUninitialized</key>
	<dict/>
	<key>kOptionsScene</key>
	<dict/>
</dict>
</plist>
